.hot_sale {
  position: absolute;
  top: 120px;
  width: 1000px;
}
.hot_sale .search {
  width: 100%;
  height: 50px;
  border: 1px solid red;
}
.hot_sale .search input {
  border: 1px solid #d2d3d8;
  height: 25px;
  width: 150px;
  cursor: pointer;
}
.hot_sale .search .search_input {
  height: 25px;
  float: left;
  margin-right: 10px;
  margin-top: 12px;
  position: relative;
}
.hot_sale .search .search_input::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: translate(144px, 3px);
  background: url(../../images/jiantouxiangxia.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}
.hot_sale .search .search_input:nth-child(6)::before,
.hot_sale .search .search_input:nth-child(5)::before {
  content: '';
  width: 0;
  height: 0;
  visibility: hidden;
}
.hot_sale .search .search_input i {
  transform: translateX(-15px);
}
.hot_sale .search .search_input ul {
  display: none;
  position: absolute;
  width: 150px;
  top: 25px;
  left: 13px;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, #fff, #ddf1fc);
}
.hot_sale .search .search_input ul li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.hot_sale .search .search_input ul li:hover {
  background: linear-gradient(to right, #fff, #ddf1fc);
  cursor: pointer;
}
.hot_sale .search .search_input .ulShow {
  display: block;
}
.hot_sale .search .search_input .ulHide {
  display: none;
}
