.main_view {
  width: 100%;
  background: #fff;
}
.transitionBgbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(148, 132, 132, 0.1);
  z-index: 9999;
}
.transitionBgbox img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
