.chengkai {
  height: 90px;
  width: 100%;
}
.title {
  width: 1000px;
  margin: 10px auto;
}
.cus_dig {
  width: 1000px;
  margin: 0 auto;
}
.cus_dig .search {
  width: 1000px;
  position: relative;
  border: 1px solid #d2d3d8;
  background-color: #f2fafe;
}
.cus_dig .search .search_list {
  width: 700px;
  margin-left: 50%;
  margin-bottom: 10px;
  transform: translateX(-50%);
}
.cus_dig .paginations {
  margin: 20px 0;
}
.cus_dig .paginations .el-pagination {
  margin-left: 550px;
}
